body {
  margin: 0;
  line-height: normal;
}
.about-us-pic1-1-icon1,
.desktop-4-child {
  position: absolute;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.about-us-pic1-1-icon1 {
  width: 101.39%;
  top: 216px;
  right: -1.39%;
  height: 1040px;
  opacity: 0.3;
}
.desktop-4-child {
  width: 100%;
  top: 843px;
  right: 0;
  border-radius: var(--br-lg);
  height: 340px;
}
.mahaddalkarostudentsfitaci3 {
  display: block;
}
.contact1,
.mahaddalkarostudentsfitaci2 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.mahaddalkarostudentsfitaci2 {
  width: 27.15%;
  top: 924px;
  left: 38.06%;
  height: 57px;
}
.contact1 {
  width: 10.07%;
  top: 858px;
  left: 44.93%;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  color: var(--color-white);
  text-align: left;
  height: 48px;
}
.desktop-4-item,
.go-green-logo-12 {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.desktop-4-item {
  width: 100%;
  right: 0;
  border-radius: var(--br-lg);
  max-width: 100%;
  overflow: hidden;
  height: 341px;
  top: -168px;
}
.go-green-logo-12 {
  width: 72px;
  height: 60px;
}
.go2 {
  color: var(--color-teal);
}
.green2 {
  color: var(--color-turquoise);
}
.gogreen2 {
  margin: 0;
  position: absolute;
  top: 17px;
  left: 101px;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-roboto);
  text-align: left;
  display: inline-block;
  width: 313px;
  height: 65px;
}
.logo2 {
  position: absolute;
  top: 16px;
  left: 14px;
  width: 414px;
  height: 82px;
}
.about-us3 {
  position: absolute;
  left: 283px;
  width: 107px;
  height: 65px;
}
.about-us3,
.home3,
.loginsignup3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.loginsignup3 {
  position: absolute;
  left: 420px;
  width: 138px;
  height: 65px;
}
.home3 {
  left: 0;
  width: 75px;
}
.group-nav,
.home3,
.inventory3 {
  position: absolute;
  height: 65px;
}
.inventory3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 122px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 115px;
}
.group-nav {
  top: 33px;
  left: 802px;
  width: 558px;
}
.password-child,
.rectangle-div {
  position: absolute;
  left: 0;
}
.rectangle-div {
  width: 100%;
  top: calc(50% - 295px);
  right: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  height: 590px;
}
.password-child {
  border: 0;
  background-color: var(--color-gray-200);
  width: 98.45%;
  top: calc(50% - 50px);
  right: 1.55%;
  border-radius: var(--br-2xs);
  height: 100px;
}
.password2 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-size: var(--font-size-4xl);
  position: absolute;
  top: 38px;
  left: calc(50% - 164.04px);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 347.04px;
  height: 62px;
}
.password1 {
  position: absolute;
  width: 39.44%;
  top: calc(50% + 27px);
  right: 50.32%;
  left: 10.24%;
  height: 100px;
}
.confirm-password,
.e-mail2 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-size: var(--font-size-4xl);
  position: absolute;
}
.confirm-password {
  width: 39.87%;
  top: calc(50% + 27px);
  right: 8.94%;
  left: 51.19%;
  height: 100px;
}
.e-mail2 {
  top: 38px;
  left: calc(50% - 163.59px);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 347.09px;
  height: 62px;
}
.e-mail1 {
  position: absolute;
  width: 39.55%;
  top: calc(50% - 245px);
  right: 50.22%;
  left: 10.24%;
  height: 100px;
}
.username {
  border: 0;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-size: var(--font-size-4xl);
  position: absolute;
  top: 38px;
  left: calc(50% - 164.92px);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  width: 349.92px;
  height: 62px;
}
.e-mail3,
.rectangle-group {
  position: absolute;
  width: 39.87%;
  top: calc(50% - 245px);
  right: 8.94%;
  left: 51.19%;
  height: 100px;
}
.rectangle-group {
  width: 64.44%;
  top: calc(50% - 287.5px);
  right: 17.85%;
  left: 17.71%;
  height: 590px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  width: 360px;
  height: 100px;
}
.create-account {
  position: absolute;
  top: 27px;
  left: 54px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  width: 252px;
  height: 46px;
}
.vector-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 668px;
  left: 540px;
  width: 360px;
  height: 100px;
}
.desktop-4,
.desktop-4-inner {
  font-family: var(--font-roboto);
}
.desktop-4-inner {
  border: 0;
  font-size: var(--font-size-4xl);
  background-color: transparent;
  position: absolute;
  width: 51.67%;
  top: calc(50% - 101.5px);
  right: 24.03%;
  left: 24.31%;
  height: 100px;
}
.desktop-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1027px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
